#custom-button {
    -fx-font: 12px "Serif";
    -fx-padding: 10;
    -fx-background-color: #AAAAAA;
    -fx-border-style: solid;
    -fx-border-color: crimson;
}

#custom-button:hover {
    -fx-background-color: #FFFF00;
}

#clicked-button {
    -fx-font: 12px "Serif";
    -fx-padding: 10;
    -fx-background-color: cadetblue;
    -fx-border-style: solid;
    -fx-border-color: crimson;
}