#default-button {
    -fx-font: 12px "Serif";
    -fx-padding: 10;
    -fx-background-color: #40c4ff;
    -fx-border-style: solid;
    -fx-border-color: #0094cc;
    -fx-background-radius: 0%;
    -fx-font-size: 20px;
}

#default-button:hover {
    /*#30b4ef*/
    -fx-background-color: #20a4cf;

}

#clicked-button {
    -fx-font: 12px "Serif";
    -fx-padding: 10;
    -fx-background-color: #82f7ff;
    -fx-border-style: solid;
    -fx-border-color: #0094cc;
    -fx-font-size: 20px;
}

#clicked-button:hover {
    /*#82f7ff*/
    -fx-background-color: #62c7cf;
    /*-fx-background-color: #ffdc40;*/
}

#neighbor-button {
    -fx-font: 12px "Serif";
    -fx-padding: 10;
    -fx-background-color: #ff4063;
    -fx-border-style: solid;
    -fx-border-color: #0094cc;
    -fx-font-size: 20px;
}

#neighbor-button:hover {
    -fx-background-color: #df2043;
}

#wrong-button {
    -fx-font: 12px "Serif";
    -fx-padding: 10;
    -fx-background-color: #ff8482;
    -fx-border-style: solid;
    -fx-border-color: #0094cc;
    -fx-font-size: 20px;
}

#wrong-button:hover {
    -fx-background-color: #df6462;
}

#right-button {
    -fx-font: 12px "Serif";
    -fx-padding: 10;
    -fx-background-color: #82ff8a;
    -fx-border-style: solid;
    -fx-border-color: #0094cc;
    -fx-font-size: 20px;
}

#right-button:hover {
    -fx-background-color: #62df6a;
}

#menu-button {
    -fx-font: 20px "Serif";
    /*-fx-padding: 10;*/
    -fx-background-color: #aaaaaa;
}

#menu-button:hover {
    -fx-background-color: #ffffff;
}

#menu-text {
    -fx-font-size: 30px;
    -fx-font-smoothing-type: lcd;
    -fx-font-weight:  bold;
}